@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&family=Ubuntu:wght@500&display=swap");
body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2em);
  background: #000;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a.logo {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header li a {
  padding: 1em;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 3em;
}

.wrapper section h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.wrapper section h1, .wrapper section h2 .read-btn {
  text-transform: uppercase;
  margin: 0;
}

.wrapper section h2 {
  font-size: 1.4rem;
  color: #333;
}

textarea{
  width: 90%;
  margin-left: 20px;
  border: none;
  height: 100px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.wrapper section a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 13px;
  letter-spacing: 3px;
  box-shadow: 1px 2px 7px #ff6e40;
}

.wrapper section a:hover{
  letter-spacing: 2px;
  color: #ff6e40;
}

.wrapper section span {
  padding: 8px;
}

.wrapper section.hero {
  padding-top: 8em;
  background: url("../assets/typing.gif");
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  color:#ccc;
  box-shadow: 0 3000px rgba(0,0,0,0.7) inset;
}

.wrapper section.hero p {
  width: 70%;
  font-size: 0.8rem;
  margin-bottom: 40px;
  text-align: center;
  color: #ccc;
}
.wrapper section.sidebar, .wrapper section.subscription {
  font-size: .8em;
  line-height: 1.6em;
}

.phrase p{
  color: #333;
}

.phrase li{
  color: #333;
}

.wrapper section.sidebar .p{
  background-color: #fff;
  box-shadow: 1px 2px 7px rgb(172, 170, 170);
  padding: 15px;
}


.wrapper section.sidebar {
  background: #eee;
}

.wrapper section.subscription button {
  width: 100%;
  color: #333;
  font-size: 16px;
  padding: 13px;
  letter-spacing: 3px;
  box-shadow: 1px 2px 7px rgb(172, 170, 170);
  border:none;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

}

@media only screen and (min-width: 1020px) {
  header {
    background: none;
  }
  .wrapper {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: 60% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: "hero feature"
 "hero subscribe";
    height: 100vh;
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hero;
  }

  .wrapper section.hero {
    padding-top: 30em;
    background: url("../assets/typing.gif");
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color:#ccc;
    box-shadow: none;
  }
  
  .wrapper section.hero p {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 40px;
    text-align: center;
    color: #ccc;
  }

}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 21px;
  }
  header a {
    text-decoration: none;
    color: #ff6e40;
  }

}
/*# sourceMappingURL=main.css.map */